body {
    background-color:coral;
}

form fieldset {
    width: 850px;
    height: 150px;
    margin: 0 auto;
    border: 5px solid goldenrod;
    border-radius: 20px;
}

form legend {
    font-style: bold;
    font-family: "Segoe UI", "Tahoma", "Geneva", "Verdana", "sans-serif"
}

form { 
    text-align: center;
}

input {
    border-radius: 10px;
    width: 300px;
}

input[type="reset"] {
    background-color: rgb(231, 149, 111);
    width: 175px;
}

input[type="submit"] {
    background-color: rgb(231, 149, 111);
    width: 175px;
}