body {
    background: lightcoral

}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    box-sizing: border-box;
    border: 2px solid #682B2B;
    border-radius: 10px 25px 30px 25px;
    background: crimson;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:active {
    border-color: #088c19;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

#cafe3{
        width: 280px;
}

.alerta {
    
        width: 95px;
}